name: main

on:
    workflow_dispatch:
#  schedule:
#    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Get Text File start_Number
        run: |
          for /f "delims=" %%i in (start_number.txt) do (set startNumber=%%i)
      - name: Run main.py
        run: |
          python main.py %startNumber%
        env:
          MY_GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
      - name: Push changed textFile
        run: |
          git add.
          git commit -m "TextFile Changed"
          git push
