name: main

on:
    workflow_dispatch:
#  schedule:
#    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run main.py    
        shell: cmd
        env:
          MY_GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
        run: |
          call getStart_Number.cmd
          python main.py %startNumber%
      - name: upload DB
        shell: cmd
        run: |
          python upload_book_db.py ${{ secrets.DB_HOST }} ${{ secrets.DB_USER }} ${{ secrets.DB_PASS }} ${{ secrets.DB_DATABASE }}
      - name: Push changed
        shell: cmd
        env:
          MY_GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
        run: |
          git config --global user.email ${{ secrets.USER_EMAIL }}
          git config --global user.name ${{ secrets.USER_NAME }}
          git add .
          git commit -m "TextFile Changed"
          git push
