name: main

on:
    workflow_dispatch:
#  schedule:
#    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run main.py    
        shell: cmd
        run: |
          call getStart_Number.cmd
          python main.py %startNumber%
        env:
          MY_GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
      - name: Push changed textFile
        shell: cmd
        env:
          MY_GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
          USER_EMAIL: ${{ secrets.USER_EMAIL }}
          USER_NAME: ${{ secrets.USER_NAME }}
        run: |
          git config --global user.email ${USER_EMAIL}
          git config --global user.name ${USER_NAME}
          git add .
          git commit -m "TextFile Changed"
          git push
